<h1> Carrito de compras </h1>

<form action="/api/carts/{{cid}}/purchase" method="GET">
    <button type="submit" id="ticketButton" class="btn btn-primary">Comprar Carrito</button>
</form>

<div class="cards">
    {{#each productos}}
        <div class="card" style="width: 18rem;">
            <img src={{this.product.thumbnail}} class="card-img-top" alt="{{this.product.title}}">
            <div class="card-body">
                <h3 class="card-title">{{this.product.title}}</h3>
                <p class="card-text">Precio: ${{this.product.price}}.-</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
            </div>
            <form action="/api/carts/{{../cid}}/product/{{this.product._id}}" method="DELETE">
                <button type="submit" class="deleteButton btn btn-danger"> Quitar producto </button>
            </form>
        </div>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/comprarButton.js"></script>